{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h3>Did someone find the password to your diary? Change Password!</h3>
    <br></br>
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input class="form-control" name="old" placeholder="Old password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="new" placeholder="New password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Enter password again" type="password" required>
        </div>
        <button class="btn btn-danger" type="submit">Change</button>
    </form>
{% endblock %}