*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

.info {
	position: absolute;
	top: 80px;
  margin-left: 20px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
  color:#707070;
}